.idea/*
src/app/.idea/*
src/app/app/release/*
src/app/app/src/main/gen/*
dissertation.jks
data/notebooks/data/*
data/notebooks/.idea/*
data/notebooks/.ipynb_checkpoints/*
data/notebooks/preprocessing/__pycache__/*
data/notebooks/venv/*
data/notebooks/.env
data/notebooks/saved_reverse_geocodes*
src/server/.env