<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.anguel.dissertation">
    <!-- <uses-permission android:name="android.permission.GET_TASKS" /> -->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.BIND_JOB_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="Manifest.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

<!--    for sentry and eventually data export -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_death_star"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_death_star_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".DataCollectionActivity" />
        <activity android:name=".QuizActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".settings.SettingsActivity" />

        <receiver android:name=".reboot.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <!--        <service-->
<!--            android:name=".workers.SaveUsageStatsWorker"-->
<!--            android:permission="android.permission.BIND_JOB_SERVICE" />-->
        <service android:name=".serviceengine.services.KeepAliveService"
            android:permission="android.permission.FOREGROUND_SERVICE" />
<!--            android:process=":stayingAlive"/>-->

        <service android:name=".serviceengine.services.EventMonitoringService"
            android:permission="android.permission.FOREGROUND_SERVICE" />
        <!--            android:process=":eventMonitor"/>-->

        <service android:name=".reboot.BootService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

    </application>

</manifest>